.about {
  margin: 85px 5vw 0;
}
.about h1 {
  text-align: center;
  font-weight: 700;
  margin: 0 8vw 20px;
}
.about > p {
  text-align: center;
}
.about > p:nth-child(3) {
  margin-bottom: 30px;
}
.about h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.about h2 + p {
  margin-bottom: 35px;
}
.gradient-background {
  margin-bottom: 15px;
  padding: 23px 8px;
  border-radius: 10px;
  background: linear-gradient(-8deg, #152d45, #0d0d0d 35%);
}
.gradient-background h3 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 7px;
}
.gradient-background p {
  font-size: 18px;
}
.about .title.lg.first {
  margin-top: 40px;
  background-color: #0d0d0d;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 20px;
}
.about .title.lg + h2 {
  margin-left: 4vw;
  margin-right: 4vw;
}
.about .card.info {
  padding: 20px 10px;
  border: 1px solid white;
  border-radius: 14.17px;
  background: linear-gradient(135deg, #152d45, #152d45, #0d0d0d 40%);
  margin-bottom: 20px;
}
.about .card.two.info {
  background: linear-gradient(225deg, #152d45, #152d45, #0d0d0d 40%);
  margin-bottom: 40px;
}
.about .card.info .title {
  margin: 0;
  padding: 0;
  font-size: 19.84px;
  font-weight: 600;
  border: none;
  justify-self: left;
  margin-bottom: 25px;
}
.about .card.info p {
  font-size: 17.72px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.about .title.lg:not(.about .title.lg.first) {
  font-size: 18px;
}
.about .title.lg:not(.about .title.lg.first) + h2 + p {
  margin-bottom: 5px;
}
