@media (min-width: 768px) {
  /* navbar */
  .nav .nav-items {
    visibility: visible;
    opacity: 1;
    display: flex;
    margin: 0;
    gap: 25px;
    align-items: center;
  }
  .nav-items .contact-button {
    background: none;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
    margin-left: 11vw;
  }
  .nav-items .contact-button img {
    display: none;
  }
  .nav .nav-items li {
    margin: 0;
    position: relative;
  }
  .nav .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .nav .menu-icon {
    display: none;
  }
  .activepage::before {
    content: "";
    width: 50%;
    height: 2px;
    left: 28%;
    position: absolute;
    background: white;
    bottom: -5px;
    border-radius: 30px;
    transition: all 0.3s ease;
  }

  /* hero */

  #hero {
    margin: 0;
    height: 60vh;
  }
  #hero h1 {
    font-size: 30px;
  }
  #about div {
    display: flex;
    align-items: center;
  }
  #about h2 {
    margin-bottom: 0;
  }
  #about div p {
    margin-bottom: 0;
  }
  #about .link {
    margin-top: 0;
  }
  #services .service-cards .service-card {
    min-width: 80vw;
    padding: 65px 2vw;
  }
  #clients .card,
  .about .card {
    width: 80%;
    padding: 50px 50px;
    justify-self: center;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    margin: 8px auto;
    text-align: center;
  }
  footer .links {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 1024px) {
  .home {
    margin: 0 7vw;
  }
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 48px;
  }
  #about {
    position: relative;
  }
  #about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
  }
  #about div img {
    height: 85%;
    border: 1px solid #2e6399;
  }
  #about h2 {
    position: absolute;
    top: 10%;
  }
  #about .link {
    position: absolute;
    bottom: 5%;
  }
  #services .service-cards {
    flex-direction: row;
    margin-top: 20px;
  }
  #services .service-cards .service-card {
    min-width: 25vw;
    padding: 60px 1vw;
  }
  #faqs .title {
    background: #2e6399;
    border: none;
  }
  #faqs h1 {
    font-size: 48px;
    margin-left: 25vh;
    margin-right: 25vh;
  }
  #faqs > p {
    font-weight: 400;
  }
  #faqs p,
  .accordion-title {
    font-size: 18px;
  }
  .accordion .accordion-content {
    font-size: 12px;
  }
  .accordion {
    width: 60vw;
    justify-self: center;
  }
  .accordion-item {
    margin-bottom: 5px;
    padding: 10px 8px;
  }
  .accordion::before {
    width: 450px;
    height: 150px;
    border-radius: 100px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background: linear-gradient(22.5deg, #2e6399 60%, #28282880, #000000);
    filter: blur(15px);
    top: 18%;
    left: 60px;
    z-index: -1;
    transform: rotate(-15deg);
  }
  #clients .card,
  .about .card {
    width: 60vw;
    padding: 60px 6em;
    justify-self: center;
    border-radius: 60px;
  }
  #clients .card h2,
  .about .card h2 {
    font-size: 40px;
    margin-bottom: 0;
  }
  footer {
    padding-bottom: 30px;
    padding-right: 100px;
    padding-left: 80px;
  }
  footer .cravuelink {
    margin-bottom: 0;
  }
  .nav-items .contact-button {
    margin-left: 19vw;
  }
  .services > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    gap: 40px;
    align-items: center;
    margin-bottom: 60px;
  }
  .services > div img {
    width: 90%;
    height: 90%;
  }
  .services div div p {
    font-size: 18px;
  }
  .services div .title {
    position: absolute;
    top: 0;
    left: 52%;
  }
  .services div div p:first-of-type {
    margin-bottom: 3%;
    margin-top: 10%;
  }
  .services > div:nth-of-type(2) {
    direction: rtl;
  }
  .services > div:nth-of-type(2) div,
  .services > div:nth-of-type(2) .title,
  .services > div:nth-of-type(2) img {
    direction: ltr;
  }
  .services div:nth-of-type(2) .title {
    position: absolute;
    top: 9%;
    left: 0;
  }
  .services,
  .about {
    margin-top: 20vh;
  }
  .services h1,
  .about h2,
  .about h1,
  .blog h1,
  .article-page h1,
  .error-404 h1,
  .contact h1 {
    font-size: 50px;
  }
  .about h2:first-of-type + p {
    margin-left: 20vw;
    margin-right: 20vw;
  }
  .gradient-cont {
    display: flex;
    gap: 20px;
  }
  .gradient-background {
    padding: 23px 20px;
  }
  .about > h2:nth-of-type(2),
  .about > h2:nth-of-type(2) + p {
    margin-left: 20vw !important;
    margin-right: 20vw !important;
  }
  .card-container {
    display: flex;
    gap: 20px;
  }
  .card.info {
    height: 100%;
  }
  .about > h2:nth-of-type(3) {
    margin-left: 15vw !important;
    margin-right: 15vw !important;
  }
  .about > h2:nth-of-type(3) + p {
    margin-bottom: 30px !important;
    font-size: 18px;
    font-weight: 400;
  }
  .about .card p {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .blog > p {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .article-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .article-card .article {
    margin-bottom: 0;
    width: 40vw;
  }
  .article-card .article:nth-of-type(2) img {
    height: 80%;
  }
  .article-card .article p {
    font-size: 22px;
  }
  .article-page img.background {
    display: none;
  }
  .article-page h1 {
    text-align: left;
  }
  .article-page h2,
  .article-page h3 {
    font-size: 45px;
    text-align: left;
  }
  .article-page h2:last-of-type {
    font-size: 34px;
  }
  .accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accordion-title .angle-icon {
    display: block;
    transition: transform 0.3s ease;
  }
  .accordion-title .angle-icon.selected {
    transform: rotateX(180deg);
  }
  .contact {
    margin-left: 18vw;
    margin-right: 18vw;
  }
  .contact .gradient-background {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact form {
    margin-top: 0;
  }
  .contact form input {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .contact .msg textarea {
    height: 20vh;
  }
}
@media (min-width: 1100px) {
  .services div div p:first-of-type {
    margin-bottom: 3%;
    margin-top: 7%;
  }
  .services div:nth-of-type(2) .title {
    position: absolute;
    top: 18%;
    left: 0;
  }
}
