.services {
  margin: 85px 5vw 0;
}
.services h1 {
  text-align: center;
  margin: 0 5vw;
  margin-bottom: 25px;
}
.services p {
  font-size: 21px;
}
.services > p:nth-child(3),
p.title {
  text-align: center;
  font-size: 18px;
}
.services > p:nth-child(3) {
  margin-bottom: 35px;
}
.services div .title {
  justify-self: left;
  text-align: left;
}
.services img {
  width: 99%;
  margin-bottom: 30px;
  display: flex;
  justify-self: center;
}
.services div div p:first-of-type {
  margin-bottom: 30px;
}
.services div div p:last-of-type {
  margin-bottom: 30px;
}
